* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #eee;
}

#content {
  display: flex;
}

.practica-container {
  margin: 0 1rem;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 1rem;
  display: flex;
}

a {
  margin: auto;
  text-decoration: none;
  color: #eee;
}

a:hover {
  border-bottom: 1px solid #eee;
}
