body{
    margin: 2rem;
}

.list{
    border-radius: 0.5rem;
    background-color: aqua;
    box-shadow: 0.1rem 0.1rem 0.5rem #AAA;
    margin:auto;
    list-style: none;
    padding: 1rem;
    width: 20%;
}

.list a{
    text-decoration: none;
    color: black;
}

.list li{
    width: fit-content;
    margin: auto;
}