@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;600&display=swap');
@import url('reset.css');

html {
  height: 100%;
}

body {
  background: #86bbf0;
  font-family: 'Roboto Mono', 'sans-serif;';
  min-height: 100%;
}

.title {
  color: #f0a39e;
  font-weight: 700;
  font-size: 6rem;
  text-align: center;
  text-shadow: 1px 1px 5px #6e99c4;
}

.link {
  background: #d9ebfd;
  border: 1px solid #9eabb8;
  border-radius: 2rem;
  box-shadow: 1px -1px 6px #bbb inset;
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  margin: 1rem auto 3rem auto;
  width: 23rem;
}

.link input {
  background: transparent;
  border: none;
  height: 100%;
  font-size: 0.8rem;
  color: #333;
  padding-right: 1rem;
  margin-top: 1rem;
  width: 18rem;
  outline: none;
}

.link button {
  background: #3b5169;
  border: none;
  border-radius: 0 2rem 2rem 0;
  color: #d9ebfd;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 300;
  height: 3rem;
  width: 4rem;
  transition: background 0.1s;
}

.link button:hover {
  background: #33475c;
}

.playerInfo {
  border: 2px solid #333;
  position: absolute;
  top: 10rem;
  left: 3rem;
  padding: 1rem;
  height: fit-content;
  width: fit-content;
}

.playerInfo p {
  margin-bottom: 0.5rem;
}

.alert {
  background: #ddd;
  border-radius: 5px;
  box-shadow: -10px 10px 0 -2px #f0a39e;
  color: #222;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 30rem;
  height: 20rem;
  position: absolute;
  left: calc(50% - 15rem);
  top: calc(35% - 10rem);
  z-index: 1000;
}

.alert p {
  font-size: 2rem;
  margin-top: 1rem;
}

.rematchBtn {
  background: #f0a39e;
  color: #222;
  cursor: pointer;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  border: none;
  box-shadow: -5px 5px 0 -2px #86bbf0;
}

.rematchBtn:visited {
  color: #222;
}

.rematchBtn:hover {
  background: #86bbf0;
  box-shadow: -5px 5px 0 -2px #f0a39e;
}

.board {
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  margin: auto;
  margin-top: 3rem;
  width: fit-content;
  height: 23rem;
  max-width: min-content;
}

.square {
  color: #333;
  cursor: pointer;
  font-size: 7rem;
  font-weight: 600;
  text-align: center;
  border-radius: 30px;
  background: linear-gradient(45deg, #729fcc, #88bdf3);
  box-shadow: 20px -20px 60px #6c96c1, -20px 20px 60px #92ccff;
  margin: 2px;
  width: 7rem;
  height: 7rem;
}

.square:hover {
  background: linear-gradient(45deg, #6898c9, #6caae7);
}
