@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;600&display=swap');
@import url('reset.css');

html {
  height: 100%;
}

body {
  background: #86bbf0;
  font-family: 'Roboto Mono', 'sans-serif;';
  min-height: 100%;
}

.title {
  color: #f0a39e;
  font-weight: 700;
  font-size: 6rem;
  text-align: center;
  text-shadow: 1px 1px 5px #6e99c4;
  margin-bottom: 2rem;
}

.link {
  background: #d9ebfd;
  border: 1px solid #9eabb8;
  border-radius: 2rem;
  box-shadow: 1px -1px 6px #bbb inset;
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  margin: 1rem auto 3rem auto;
  width: 23rem;
}

.textInput {
  background: transparent;
  border: none;
  height: 100%;
  font-size: 0.8rem;
  color: #333;
  padding-right: 1rem;
  margin-top: 1rem;
  width: 18rem;
  outline: none;
}

.btn {
  background: #3b5169;
  border: none;
  border-radius: 0 2rem 2rem 0;
  color: #d9ebfd;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 300;
  height: 3rem;
  width: 4rem;
  transition: background 0.1s;
}

.btn:hover {
  background: #33475c;
}

.currentWord {
  text-align: center;
  margin: auto;
  color: #222;
  font-size: 2rem;
  width: 50%;
}

.rematch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.rematchBtn {
  color: #ccc;
  background: #3b5169;
  border: none;
  border-radius: 4px;
  padding: 1rem 2rem;
  cursor: pointer;
}

.rematchBtn:hover {
  background: #33475c;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 2rem;
  left: calc(50% - 6rem);
}

.img-container img {
  width: 12rem;
  height: 15rem;
}

.gameInfo {
  border: 2px solid #333;
  position: absolute;
  top: 10rem;
  left: 3rem;
  padding: 1rem;
  height: fit-content;
  width: fit-content;
  /*  height: 5rem;
  width: 10rem; */
}

.gameInfo p {
  margin-bottom: 0.5rem;
}

.playerInfo {
  text-align: center;
  margin: auto;
}